@import "../../scss/index.scss";

.pagination {
  text-align: center;

  .ant-pagination-item-link {
    color: rgba(0, 0, 0, 0.25);
    border-color: #c9c9c9;
    cursor: pointer;
  }

  .ant-pagination-item {
    color: $font-grey-hover;
    border-color: $border-grey-hover;
  }
  .ant-pagination-active:hover {
    color: $font-dark;
    border-color: $border-dark;
  }

  .ant-pagination-disabled,
  .ant-pagination-item-5,
  .ant-pagination-item-NaN {
    visibility: hidden;
  }
}
