@import "../../../../scss/index.scss";

.my-info {
  img {
    width: 150px;
    margin-bottom: 15px;
  }
  h4 {
    margin-bottom: 15px;
    color: $fifth-color-dark;
  }
  .social-links {
    justify-content: flex-start;
  }
}
