@import "../../../scss/index.scss";

.menu-top {
  display: flex;
  width: 100%;
  align-items: center;

  button {
    background-color: transparent;
    border-color: transparent;
    color: $font-light;
    font-size: 18px;

    &:hover {
      color: $primary-color-hover;
      background-color: transparent;
      border-color: transparent;
      font-size: 20px;
    }
    /*     &:focus,
    &:active {
      color: $font-light;
      background-color: transparent;
      border-color: transparent;
    } */
  }

  &__left {
    &-logo {
      width: 150px;
      padding: 0 10px;
      align-items: center;
    }
  }

  &__right {
    position: absolute;
    right: 0;
  }
}
