@import "../../../scss/index.scss";

.menu-sider {
  position: fixed;
  left: 0;
  top: 65px;
  width: 100%;
  height: 100vh;
  background-color: $dark-blue !important;
}
.nav-text {
  padding: 9px;
  color: $font-light;
}
.anticon {
  color: $font-light;
  align-items: center;
}

.ant-menu-item .ant-menu-item-selected .ant-menu-item-only-child {
  color: $font-grey-light;
}

/* 
  &__control {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &__config {
    position: relative;
    padding: 24px;
    align-items: center;

    &-space {
      padding: 6px;
    }

    a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;

      &:hover {
        text-decoration: none;
        list-style: none;
        color: $primary-color-hover;
      }
    }
    .nav-text {
      padding: 9px;
    }
  }
  */
