@import "../../../scss/index.scss";

.contact-form {
  margin-top: 60px;
  margin-bottom: 30px;

  &__title {
    text-align: center;
    margin-bottom: 18px;

    h2 {
      color: $fifth-color;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
    }
    h3 {
      color: $fifth-color-light;
      font-size: 20px;
    }
  }

  &__parag {
    text-align: center;
    align-items: center;
    justify-content: center;

    p {
      color: $fifth-color-dark;
      font-size: 22px;
    }
  }

  .contact-form-scheme {
    &__textarea {
      font-family: inherit;
      resize: none;
    }
    &__button {
      width: 100%;
      // margin-left: 33px;
      font-size: 0em +20px / $defaultFontSize;
      background-color: $primary-color;
      color: $font-light-dark;
      height: 42px;

      &:hover {
        background-color: $primary-color-hover;
        color: $font-light;
      }
      &:focus,
      &:active {
        background-color: $primary-color;
        color: $font-light;
        border: 0;
      }
    }
    &__check {
      margin-left: 33px;
      color: $fifth-color;
    }
  }
}
