@import "../../../scss/index.scss";

.footer {
  background-color: $background-dark;
  border-top: 3px solid $fifth-color-dark;
  color: $fifth-color-light;

  &__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
  }

  &__copyright {
    margin-top: 30px;
    padding: 0;
    align-items: center;

    .ant-col {
      color: $fifth-color-dark;

      &:last-of-type {
        text-align: right;
      }
    }

    h5 {
      text-align: center;
      color: #fff;
    }
  }
}
