@import "../../../scss/index.scss";

.register-form {
  text-align: left;
  .ant-for-item {
    &:nth-child(3),
    &:nth-last-of-type() {
      margin: 0;
    }
  }

  &__input {
    .ant-input-prefix {
      i {
        font-size: 0em +22px / $defaultFontSize;
      }
    }
    input {
      font-size: 0em +20px / $defaultFontSize;
      padding: 3px 9px !important;

      &:focus {
        box-shadow: none;
      }
    }
  }
  &__button {
    width: 100%;
    font-size: 0em +20px / $defaultFontSize;
    background-color: $primary-color;
    color: $font-light;
    height: 42px;

    &:hover {
      background-color: $primary-color-hover;
      color: $font-light;
    }
    &:focus,
    &:active {
      background-color: $primary-color;
      color: $font-light;
      border: 0;
    }
  }
}
