$defaultFontSize: 16px;

$primary-color: #0098d3;
$primary-color-dark: #0099ff;
$primary-color-hover: #0270b3;
$dark-blue: #050a30;

$menu-color: #242424;

$font-light: #fff;
$font-light-dark: #e9e9e9;
$font-grey-ligh: #a2b5bb;
$font-grey: #818181;
$font-grey-dark: #242424;
$font-dark: #000;

$border-light: #fff;
$border-light-dark: #e9e9e9;
$border-grey-light: #a2b5bb;
$border-grey: #818181;
$border-grey-dark: #242424;
$border-dark: #000;

$background-light: #fff;
$background-light-dark: #e9e9e9;
$background-grey-ligh: #a2b5bb;
$background-grey: #818181;
$background-grey-dark: #242424;
$background-dark: #000;
$background-success: #84b84c1f;
$background-error: #ff00001f;

$success: #84b81c;
$error: #ff0000;

// Social color

$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedIn: #0077b5;

// Responsive down size
$media-breakpoint-down-xs: 413.98px;
$media-breakpoint-down-sm: 573.98px;
$media-breakpoint-down-md: 767.98px;
$media-breakpoint-down-lg: 991.98px;
$media-breakpoint-down-xl: 1199.98px;

// Responsive up size
$media-breakpoint-up-xs: 320px;
$media-breakpoint-up-sm: 576px;
$media-breakpoint-up-md: 768px;
$media-breakpoint-up-lg: 992px;
$media-breakpoint-up-xl: 1200px;
